* {
    box-sizing: border-box;
}
body {
    background-color: #191A19;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 10px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color:#1E5128;
    color: #D8E9A8;
    padding: 5px;
    text-align: center;
}
.content {
    background-color: #4E9F3D;
    padding: 10px;
    color: #D8E9A8;
    text-align: left;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.sidebar  {
    padding: 10px;
    margin-bottom: 7px;
    background-color: #4E9F3D;
    color: #D8E9A8;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navigation  {
    padding: 10px;
    margin-bottom: 7px;
    background-color: #4E9F3D;
    color: #D8E9A8;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #1E5128;
    color: #D8E9A8;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
